.form {
  background-color: rgb(255, 255, 255);
  width: 97%;
  height: auto;
  padding: 5px;
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  justify-content: left;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 10px;
}

.add-question-title {
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

.form-subheaders {
  font-weight: 500;
  font-size: 16px;
}

.category-span {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.input-category-name {
  width: 200px;
  border-radius: 5px;
  border-width: 1px;
  height: 30px;
}

.input-category-span {
  display: flex;
  flex-direction: row;
}

.input-category-subheader {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 5px;
}

.input-range-span {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.input-range {
  width: 50px;
  border-radius: 5px;
  border-width: 1px;
  height: 25px;
  margin-top: 1px;
}

.input-range-subheader {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 5px;
}

.set-grading-button {
  width: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 38%;
  height: 50px;
  border-width: 1px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #21314d;
  color:white;
  cursor: pointer;
  }

.autoscale-button {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 1%;
  height: 30px;
  border-width: 1px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #21314d;
  color:white;
  cursor: pointer;
}

.preview {
  background-color: rgb(255, 255, 255);
  width: 98.8%;
  height: auto;
  padding: 5px;
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  justify-content: left;
  text-align: left;
  margin-left: 0.15%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 2px;
}

.content {
  margin-left: 10px;
}

.category {
  margin-right: 20px;
}

.category-header {
  margin-left: 15px;
}

.radio-button-container {
  display: flex;
  flex-direction: row;
}

.content-text {
  font-weight: 600;
}

.popup-button {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 0%;
  height: 40px;
  border-width: 1px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #21314d;
  color:white
}

.content-box-error {
  background-color: rgb(255, 218, 218);
  width:95%;
  height: auto;
  padding: 5px;
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  justify-content: center;
  text-align: center;
  margin-left: 35px;
  margin-top: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.content-box-success {
  background-color: rgb(229, 255, 218);
  width:95%;
  height: auto;
  padding: 5px;
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  justify-content: center;
  text-align: center;
  margin-left: 35px;
  margin-top: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.radio-text-box {
  width: 25px;
  font-size: 14px;
  border: none; 
  border-width: 0px; 
  box-shadow: none;
  margin-left: -2px;
  margin-right: -3px;
}