.admin-home-card {
  background-color: rgb(255, 255, 255);
  width:95%;
  height: auto;
  padding: 5px;
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  justify-content: center;
  text-align: center;
  margin-left: 35px;
  margin-top: 35px;
  padding-top: 20px;
  }

.admin-home-admin-button {
  width: 80%;
  margin-bottom: 20px;
  height: 50px;
  border-width: 1px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #21314d;
  color:white
}

.admin-home-admin-button:hover,
.admin-home-admin-button:focus {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.admin-home-content-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.admin-home-welcomeText{
  text-align: center;
  color: #21314d;
}