.error-404-not-found {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
.error-404-not-found-content {
  text-align: center;
}

.error-404-error-image {
  width: 25%;
  max-width: 25%;
  height: auto;
  border-radius: 50%;
}
  