.portal-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.portal-container{
    width: 350px;
    height: 400px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    z-index: 1;
}

.portal-component-container{
    flex-direction: column;
    display: flex;
}

.portal-component-container h1{
    text-align: center;
    color: black;
    font-weight: 300;
}

.portal-component-container input{
    margin-right: 20%;
    margin-left: 20%;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
    background-color: #f2f2f2;
}

.portal-component-container button{
    margin-right: 20%;
    margin-left: 20%;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: #21314d;
    color: white;
}

.portal-component-container div{
    text-align: center;
    margin-top: 15px;
    align-content: center;
    font-size: 12px;
}

.portal-bkgd-image{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.portal-forgot-password{
    cursor: pointer;
    color: orangered;
}
