.professor-manage-students-body-frame{
    display: flex;
    flex-direction: row;
    background-color: #21314d;
}

.professor-manage-students-content-container{
    width: 100%;
    position: relative;
    height: calc(100vh - 80px);
    background-color: white;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.professor-manage-students-options-header{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.professor-manage-students-dropdown-button{
    height: 100%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #21314d;
    color: white;
    font-size: 16px;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.professor-manage-students-dropdown-button img{
    width: 25px;
    height: 25px;
    object-fit: scale-down;
    margin-left: 10px;
}
.professor-manage-students-dropdown-container {
  position: relative; /*Keep relative positioning for dropdown content */
  display: flex;
  flex-direction: row;
}

#professor-manage-students-course-select{
  display: block;
}

#professor-manage-students-survey-select{
  display: block;
}

.professor-manage-students-dropdown-content {
  display: none;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
}

.professor-manage-students-dropdown-content-lower-button{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.professor-manage-students-dropdown-content-top-button{
  border-top-right-radius: 10px;
}

.professor-manage-students-dropdown-content button {
  background-color: #21314d;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* align-content: end; */
  width: 100%;
}

.professor-manage-students-dropdown-sub-container:hover #professor-manage-students-course-select-content {
  display: block; /* Show dropdown content on hover */
}

.professor-manage-students-dropdown-sub-container:hover .professor-manage-students-dropdown-button{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: solid;
  border-color: white;
  border-width: 2px;
}

.professor-manage-students-dropdown-sub-container:hover #professor-manage-students-survey-select-content {
  display: block; /* Show dropdown content on hover */
}

.professor-manage-students-dropdown-content button:hover {
  background-color: rgba(211, 214, 219, 1); /* Lighter blue hover effect */
  color: black;
}


.professor-manage-students-main-content-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.professor-manage-students-student-list-container{
    background-color: rgba(33, 49, 77, 0.2);
    padding: 5px;
    border-radius: 10px;
    flex: 1;
    /* overflow: scroll; */ 
}

.professor-manage-students-student-list-header{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 5px;
}

.professor-manage-students-student-list-header button{
  height: 40px;
  width: 40px;
  border: none;
  box-shadow: none;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #21314d;
}

.professor-manage-students-student-list-header button:hover{
  background-color: #879EC3;
}

.professor-manage-students-student-list-header button img{
  height: 18px;
  width: 18px;
  vertical-align: middle;
  text-align: center;
}

.professor-manage-students-student-list-container h2{
  font-weight: 500;
  text-align: left;
  margin: 10px;
  flex: 1;
}
.professor-manage-students-student-list-header input{
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
}

.professor-manage-students-student-list-body{
  display: flex;
  flex-direction: row;
  background-color: rgba(33, 49, 77, 0.2);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  align-items: center;
}

.professor-manage-students-student-list-body-info{
  flex: 1;
}

.professor-manage-students-student-list-body-info h4, h6{
  margin: 5px;
}

.professor-manage-students-student-list-body button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  box-shadow: none;
}

.professor-manage-students-student-list-body-info-buttons-edit{
  background-color: #21314d;
}

.professor-manage-students-student-list-body-info-buttons-trash{
  background-color: #B42024;
}

.professor-manage-students-student-list-body-info-buttons-edit:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.professor-manage-students-student-list-body-info-buttons-trash:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.professor-manage-students-student-list-body button img{
  height: 18px;
}

.professor-manage-students-upload-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 20px;
  }

  .professor-manage-students-upload-container h2{
    font-weight: 500;
    text-align: center;
    margin: 10px;
    align-content: center;
  }
  
  .professor-manage-students-manual-upload-container{
    background-color: rgba(33, 49, 77, 0.2);
    padding: 5px;
    border-radius: 10px;
    flex: 1;
  }
  
  .professor-manage-students-csv-upload-container{
    flex: 1;
  }

  .professor-manage-students-manual-upload-container{
    display: flex;
    flex-direction: column;
  }

  .professor-manage-students-manual-upload-name-container{
    display: flex;
    flex-direction: row;
  }

  .professor-manage-students-manual-upload-input-name{
    flex: 1;

    height: 20px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    padding: 10px;
  }

  .professor-manage-students-manual-upload-input-other{
    height: 20px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    padding: 10px;
  }
  
  .professor-manage-students-manual-upload-button{
    margin: 5px;
    margin-top: 15px;
    height: 40px;
    border-radius: 10px;
    background-color: #21314d;
    color:white;
    box-shadow: none !important;
  }

  .professor-manage-students-manual-upload-button:hover{
    background-color: #879EC3;
    color: white;
    border: none;
  }
